<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: user_attendances_path(user_id: @user.id , m_day: @first_day, date: @first_day, chenge_mw: @select_area), local: true, method: :post) do |f| %>
<div>
  <table class="table table-bordered table-condensed", id="user-table">
    <tr>
      <td>
        <%= link_to "初期表示", user_path, class: "btn btn-sm btn-primary" %>
        <%= link_to "←", user_path(date: @first_day.prev_month, chenge_mw: "m"), class: "btn btn-sm btn-primary" %>
        　<%= l(@first_day, format: :middle) %>　時間管理表　
        <%= link_to "→", user_path(date: @first_day.next_month, chenge_mw: "m"), class: "btn btn-sm btn-primary" %>
      </td>
      <td>指定勤務開始時間　<%= format_worktime(1, @user.designated_work_start_time) %><br>指定勤務終了時間　<%= format_worktime(2, @user.designated_work_end_time) %></td>
      <td colspan="3">基本時間　<%= format_basictime(@user.basic_work_time) %></td>
      <td>初日　<%= l(@first_day_m, format: :short_0) %></td>
    </tr>
    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前　<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締め　<%= l(@last_day_m, format: :short_0) %></td>
    </tr>
  </table>
</div>
<!--お知らせ表示-->
<div class="btn-users-show2">
  <% (1..3).each do |n| %>
    <% if @info_cnt_0[n] == 0 %>
      <% if @info_cnt_1[n] != 0 && @info_cnt_3[n] != 0 %>
        <strong><%= info_cnt_title(1,n) %></strong>
        <font color="red"><%= @info_cnt_1[n].to_s + info_cnt_title(2,4) + @info_cnt_3[n].to_s + info_cnt_title(2,3) %></font>
      <% elsif @info_cnt_1[n] != 0 || @info_cnt_3[n] != 0 %>
        <strong><%= info_cnt_title(1,n) %></strong>
        <% if @info_cnt_1[n] != 0 %>
          <font color="red"><%= @info_cnt_1[n].to_s + info_cnt_title(2,2) %></font>
        <% end %>
        <% if @info_cnt_3[n] != 0 %>
          <font color="red"><%= @info_cnt_3[n].to_s + info_cnt_title(2,3) %></font>
        <% end %>  
      <% else %>
        <font color="blue"><%= info_cnt_title(1,n) %></font>
      <% end %>
    <% else %>
      <strong><%= info_cnt_title(1,n) %></strong>
      <% if n == 1 %>
        <%= link_to @info_cnt_0[n].to_s + info_cnt_title(2,1), 
            attendances_edit_fix_ck_user_path(@user, date: @first_day, chenge_mw: @select_area), 
            remote: true, class: "btn btn-sm btn-primary" %>
      <% elsif n == 2 %>
        <%= link_to @info_cnt_0[n].to_s + info_cnt_title(2,1), 
            attendances_edit_change_ck_user_path(@user, date: @first_day, chenge_mw: @select_area), 
            remote: true, class: "btn btn-sm btn-primary" %>
      <% elsif n == 3 %>
        <%= link_to @info_cnt_0[n].to_s + info_cnt_title(2,1), 
            attendances_edit_end_ck_user_path(@user, date: @first_day, chenge_mw: @select_area), 
            remote: true, class: "btn btn-sm btn-primary" %>
      <% end %>
      <% if @info_cnt_1[n] != 0 && @info_cnt_3[n] != 0 %>
        <font color="red"><%= @info_cnt_1[n].to_s + info_cnt_title(2,4) + @info_cnt_3[n].to_s + info_cnt_title(2,3) %></font>
      <% else %>
        <% if @info_cnt_1[n] != 0 %>
          <font color="red"><%= @info_cnt_1[n].to_s + info_cnt_title(2,2) %></font>
        <% end %>
        <% if @info_cnt_3[n] != 0 %>
          <font color="red"><%= @info_cnt_3[n].to_s + info_cnt_title(2,3) %></font>
        <% end %>  
      <% end %>
    <% end %>
    <br>
  <% end %>
</div>
<!--各種ボタン-->
<div class="btn-users-show">
  <% if @cnt_fix == 0 %>
    <% if Date.current.beginning_of_month >= @first_day_m %>
      <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day, chenge_mw: @select_area), class: "btn btn-primary" %>  
    <% else %>
      <button type="button" class="btn btn-primary" disabled>勤怠を編集</button>
    <% end %>
  <% end %>
  <%= link_to "CSV出力", export_path(format: :csv, id: @user.id, fday: @first_day_m, lday: @last_day_m) , class: "btn btn-primary" %>
  <%= link_to "勤怠修正ログ（承認済）", attendances_edit_change_log_user_path(@user, select_day: @first_day, gamen: "m", chenge_mw: @select_area), remote: true, class: "btn btn-primary" %>
</div>
<!--一覧表示-->
<div>
  <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
    <thead>
      <tr>
        <td rowspan="3">残業申請</td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="8">【実績】</td>
        <td colspan="5">所定外勤務</td>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <% @employee_cnum = 0 %>
      <% @atten_cnum = AttendanceChange.where(attendance_id: day.id).select(:superior_employee_number) %>

      <% @atten_cnum.each do |cnum| %>
      <% @employee_cnum = cnum.superior_employee_number %>
      <% end %>
      <% # puts @employee_cnum %>
      <% if @employee_cnum != 0 %>
        <% @atten_name = User.where(employee_number: @employee_cnum).select(:name) %>
        <% @atten_name.each do |cname| %>
          <% @employee_name = cname.name %>
          <% # puts @employee_name %>
        <% end %>
      <% end %>
        <tr>
          <td>
            <% if Date.current >= day.worked_on %>
              <% if day.started_at.nil? || day.finished_at.nil? %>
                <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>残業申請</button><!-- 開始日が設定されていない箇所は非活性 -->
              <% elsif day.request_end == "1" %>
                <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>残業申請</button><!-- 申請中は非活性 -->
              <% elsif Date.current != day.worked_on && day.finished_at.nil? %>
                <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>残業申請</button><!-- 申請日が出社日でなく退社日が未設定は非活性 -->
              <% else %>
                <%= link_to "残業申請", edit_over_work_attendance_path(day, date: @first_day, chenge_mw: @select_area, user_id: @user.id), remote: true, class: "btn btn-primary btn-attendance btn-sm" %>
              <% end %>
            <% else %>
              <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>残業申請</button><!-- 申請日が翌日以降は非活性 -->
            <% end %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <% if day.worked_on.wday == 0 %>
            <td class="txt-youbi-sun">
          <% elsif day.worked_on.wday == 6 %>
            <td class="txt-youbi-sat">
          <% else %>
            <td>
          <% end %>
          <%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= l(day.started_at, format: :time_h) if day.started_at.present? %></td>
          <td><%= working_minutes(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.nil? %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :time_h) if day.finished_at.present? %></td>
          <td><%= working_minutes(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.end_at.slice(0..1) if day.end_at.present? %></td>
          <td><%= day.end_at.slice(2..3) if day.end_at.present? %></td>
          <td>
            <% if day.end_at.present? %>
              <%= working_overtimes(day.worked_on, day.end_at, day.finished_at, day.ck_tomorrow) %>
            <% end %>
          </td>
          <td><%= day.reason %></td>
          <% @msg_zan = shiji_info(1,day) %>
          <% @msg_color_zan = @color %>
          <% @msg_kin = shiji_info(2,day) %>
          <% @msg_color_kin = @color %>
          <% if @msg_zan.present? %>
            <% if @msg_kin.present? %>
              <td><font color=<%= @msg_color_zan %>><%= raw(nl2br(@msg_zan)) %></font><br><font color=<%= @msg_color_kin %>><%= raw(nl2br(@msg_kin)) %></font></td>
            <% else %>
              <td><font color=<%= @msg_color_zan %>><%= raw(nl2br(@msg_zan)) %></font></td>
            <% end %>
          <% elsif @msg_kin.present? %>
            <td><font color=<%= @msg_color_kin %>><%= raw(nl2br(@msg_kin)) %></font></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr><!--rowspan:縦結合、colspan：横結合-->
        <td colspan="1">表示日数</td>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="1"><%= format_basic_info_m(@user.basic_time, @attendances.count) %></td>
        <td colspan="3">在社時間合計</td>
        <td colspan="1"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">
          所属長承認　<%= ck_fix_hantei %>
          <% if @cnt_fix == 0 %>
            <% if Date.current.beginning_of_month >= @first_day_m %>
              <% if @cnt_change == 0 && @cnt_end == 0 %>
                <br>
                <%= f.select :employee_number, options_for_select(@user_superior,1), include_blank: true %><br>
                <%= f.submit "申請", data: { confirm: "所属長承認申請してよろしいですか？" }, class: "btn btn-primary btn-attendance btn-sm" %>
              <% else %>
                <br>
                <select disabled><option value="0">　　　</option></select><br>
                <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>申請</button>
              <% end %>              
            <% else %>
              <br>
              <select disabled><option value="0">　　　</option></select><br>
              <button type="button" class="btn btn-primary btn-attendance btn-sm" disabled>申請</button>
            <% end %>
          <% else %>
            <% if @req_fix == "2" || @req_fix == "3" %>
              <br>
              <%= f.select :employee_number, options_for_select(@user_superior,1), include_blank: true %><br>
              <%= f.submit "申請", data: { confirm: "所属長承認申請してよろしいですか？" }, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tfoot>    
  </table>
</div>
<% end %>
<!--モーダルウインドウ表示-->
<div id="edit_over_work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_end_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_change_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_fix_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_change_log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--ファイルアップロード用スクリプト-->
<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>