<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: user_attendances_path(user_id: @user.id ,m_day: @first_day), local: true, method: :post) do |f| %>
<div>
  <table class="table table-bordered table-condensed", id="user-table">
    <tr>
      <td>
        <%= link_to "初期表示", user_path, class: "btn btn-sm btn-primary" %>
        <%= link_to "←", user_path(date: @first_day.prev_month, chenge_mw: "m"), class: "btn btn-sm btn-primary" %>
        　<%= l(@first_day, format: :middle) %>　時間管理表　
        <%= link_to "→", user_path(date: @first_day.next_month, chenge_mw: "m"), class: "btn btn-sm btn-primary" %>
      </td>
      <td>指定勤務開始時間　<%= format_basic_info(@user.work_time) %><br>指定勤務終了時間　<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">基本時間　<%= format_basic_info(@user.basic_time) %></td>
      <td>初日　<%= l(@first_day_m, format: :short_0) %></td>
    </tr>
    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前　<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締め　<%= l(@last_day_m, format: :short_0) %></td>
    </tr>
  </table>
</div>
<div class="btn-users-show2">
  <% if @fix_info_cnt == 0 %>
    <%= link_to "【所属長承認申請のお知らせ】", "#" %><br>
  <% else %>
    <strong><%= link_to "【所属長承認申請のお知らせ】" + @fix_info_cnt.to_s + "件の通知があります。", attendances_edit_fix_ck_user_path(@user), remote: true, :style=>"color:red;" %></strong><br>
  <% end %>

  <% if @change_info_cnt == 0 %>
    <%= link_to "【勤怠変更申請のお知らせ】", "#" %><br>
  <% else %>
    <strong><%= link_to "【勤怠変更申請のお知らせ】" + @change_info_cnt.to_s + "件の通知があります。", attendances_edit_change_ck_user_path(@user), remote: true, :style=>"color:red;" %></strong><br>
  <% end %>
  
  <% if @end_info_cnt == 0 %>
    <%= link_to "【残業申請のお知らせ】", "#" %>
  <% else %>
    <strong><%= link_to "【残業申請のお知らせ】" + @end_info_cnt.to_s + "件の通知があります。", attendances_edit_end_ck_user_path(@user), remote: true, :style=>"color:red;" %></strong>
  <% end %>
</div>
<div class="btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day, chenge_mw: @select_area), class: "btn btn-primary" %>
  <%= link_to "CSV出力", "#", class: "btn btn-primary" %>
  <%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-primary" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
    <thead>
      <tr>
        <td rowspan="3">残業申請</td>
        <td rowspan="3">日付</td>
        <td rowspan="3">曜日</td>
        <td colspan="8">【実績】</td>
        <td colspan="5">所定外勤務</td>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", edit_over_work_attendance_path(day), remote: true, class: "btn btn-primary btn-attendance btn-sm" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <% if day.worked_on.wday == 0 %>
            <td class="txt-youbi-sun">
          <% elsif day.worked_on.wday == 6 %>
            <td class="txt-youbi-sat">
          <% else %>
            <td>
          <% end %>
          <%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= l(day.started_at, format: :time_h) if day.started_at.present? %></td>
          <td><%= working_minutes(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.nil? %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :time_h) if day.finished_at.present? %></td>
          <td><%= working_minutes(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.end_at.slice(0..1) if day.end_at.present? %></td>
          <td><%= day.end_at.slice(2..3) if day.end_at.present? %></td>
          <td></td>
          <td><%= day.reason %></td>
          <td>
            <% output = "" %>
            <% output1 = "" %>
            <% output2 = "" %>
            <% if day.request_end == "2" %>
              <% output1 = "残業承認済" %>
            <% elsif day.request_end == "3" %>
              <% output1 = "残業否認" %>
            <% end %>
            <% if day.request_change == "2" %>
              <% output2 = "勤怠編集承認済" %>
            <% elsif day.request_change == "3" %>
              <% output2 = "勤怠編集否認" %>
            <% end %>
            <% if output1.present?%>
              <% if output2.present?%>
                <% output = output1 + " " + output2 %>
              <% else %>
                <% output = output1 %>
              <% end %>
            <% elsif output2.present?%>
              <% output = output2 %>
            <% end %>
            <%= output %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="1">表示日数</td>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="1"><%= format_basic_info_m(@user.basic_time, @attendances.count) %></td>
        <td colspan="3">在社時間合計</td>
        <td colspan="1"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        
        <td colspan="1">
          所属長承認　<%= ck_fix_hantei %><br>
          <%= f.select :employee_number, options_for_select(@user_superior,1), include_blank: true %><br>
          <%= f.submit "申請", data: { confirm: "所属長承認申請してよろしいですか？" }, class: "btn btn-primary btn-attendance btn-sm" %>
        </td>
      </tr>
    </tfoot>    
  </table>
</div>
<% end %>
<!--モーダルウインドウ表示-->
<div id="edit_over_work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_end_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_change_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit_fix_ck" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--ファイルアップロード用スクリプト-->
<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
  
</script>
