<% provide(:class_text, 'base-new') %>
<% provide(:button_text, '変更を送信する') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @attendance_end, url: update_end_ck_attendance_path(@attendance_end), local: true, method: :patch) do |f| %>
      <% @user_end.each do |ue| %>
        <% @user = User.find(ue.user_id) %>
        <h1 class="modal-title"><%= "【" + @user.name + " からの残業申請】" %></h1>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
                <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>指定勤務終了時間</th>
                    <th>時間外時間</th>
                    <th>業務処理内容</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% @attendance_end.each do |ae| %>
                    <% if ue.user_id == ae.user_id %>
                      <tr>
                        <td><%= l(ae.worked_on, format: :short) %></td>
                        <% if ae.worked_on.wday == 0 %>
                          <td class="txt-youbi-sun">
                        <% elsif ae.worked_on.wday == 6 %>
                          <td class="txt-youbi-sat">
                        <% else %>
                          <td>
                        <% end %>
                        <%= $days_of_the_week[ae.worked_on.wday] %></td>
                        <td><%= format_basic_info(ae.end_at) %></td>
                        <td><%= format_basic_info(@user.designated_work_end_time) %></td>
                        <td></td>
                        <td><%= ae.reason %></td>
                        <td><%= f.select :sec_request ,options_for_select(@req_sec,1) %></td>
                        <td><%= f.check_box :ck_change %></td>
                        <td><%= link_to "確認", show_readonly_user_path(user_id: @user.id), class: "btn btn-primary btn-attendance btn-sm" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
        <div class="center">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
          <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
            キャンセル
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>