<% provide(:class_text, 'atten-modal') %>
<% provide(:button_text, '変更を送信する') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header-custom">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @user, url: attendances_update_end_ck_user_path(@user), local: true, method: :patch) do |f| %>
      <% @user_end.each do |ue| %>

        <% @user = User.find(ue.user_id) %>
        <h1 class="modal-title"><%= "【" + @user.name + " からの残業申請】" %></h1>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
                <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>指定勤務終了時間</th>
                    <th>時間外時間</th>
                    <th>業務処理内容</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody>
                  <% @attendance_end.each do |ae| %>
                  
                    <%= f.fields_for "attendance_ends[]", ae do |a_end| %>
                    
                      <% if ue.user_id == ae.user_id %>
                        <tr>
                          <td><%= l(ae.worked_on, format: :short) %></td>
                          <% if ae.worked_on.wday == 0 %>
                            <td class="txt-youbi-sun">
                          <% elsif ae.worked_on.wday == 6 %>
                            <td class="txt-youbi-sat">
                          <% else %>
                            <td>
                          <% end %>
                          <%= $days_of_the_week[ae.worked_on.wday] %></td>
                          <% wk_flg = "0" %>
                          <% wk_flg = "1" if ae.tomorrow_flg %>
                          <% atten = Attendance.where(user_id: ue.user_id, worked_on: ae.worked_on).limit(1) %>
                          <% atten.each do |awk| %>
                            <td>
                              <%= working_hours3(ae.worked_on, ae.end_at, wk_flg, awk.started_at, awk.finished_at)  +
                              ":" + 
                              working_minutes3(ae.worked_on, ae.end_at, wk_flg, awk.started_at, awk.finished_at) if ae.end_at.present? %>
                            </td>
                            <td><%= @user.designated_work_end_time %></td>
                            <td><%= working_overtimes3(ae.worked_on, ae.end_at, wk_flg, awk.started_at, awk.finished_at) %></td>
                          <% end %>
                          <td><%= ae.reason %></td>
                          <td><%= a_end.select :request ,options_for_select(@req_sec,1) %></td>
                          <td><%= a_end.check_box 'ck_change' %></td>
                          <td><%= link_to "確認", show_readonly_user_path(user_id: @user.id, gamen: "end", date: ae.worked_on, chenge_mw: "m"), class: "btn btn-primary btn-attendance btn-sm" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer-custom">
        <div class="center">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
          <%= f.submit "閉じる", class: "btn btn-primary btn-#{yield(:class_text)}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>