<% provide(:class_text, 'atten-modal') %>
<% provide(:button_text, '変更を送信する') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header-custom">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @user, url: attendances_update_change_ck_user_path(@user), local: true, method: :patch) do |f| %>
      <% @user_change.each do |uc| %>

        <% @user = User.find(uc.user_id) %>
        <h1 class="modal-title"><%= "【" + @user.name + " からの勤怠変更申請】" %></h1>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
                
                <thead>
                  <tr>
                    <td rowspan="3">日付</td>
                    <td rowspan="3">曜日</td>
                    <td colspan="4">変更前</td>
                    <td colspan="4">変更後</td>
                    <td rowspan="3">備考</td>
                    <td rowspan="3">指示者確認㊞</td>
                    <td rowspan="3">変更</td>
                    <td rowspan="3">勤怠を確認する</td>
                  </tr>
                  <tr>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                    <td colspan="2">出社</td>
                    <td colspan="2">退社</td>
                  </tr>
                  <tr>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                    <td>時</td>
                    <td>分</td>
                  </tr>
                </thead>
                <tbody>
                  <% @attendance_change.each do |ac| %>
                    <%= f.fields_for "attendance_changes[]", ac do |a_change| %>
                      <% if uc.user_id == ac.user_id %>
                        <tr>
                          <td><%= l(ac.worked_on, format: :short) %></td>
                          <% if ac.worked_on.wday == 0 %>
                            <td class="txt-youbi-sun">
                          <% elsif ac.worked_on.wday == 6 %>
                            <td class="txt-youbi-sat">
                          <% else %>
                            <td>
                          <% end %>
                          <%= $days_of_the_week[ac.worked_on.wday] %></td>
                          <td><%= working_hours(ac.before_started_at) if ac.before_started_at.present? %></td>
                          <td><%= working_minutes(ac.before_started_at) if ac.before_started_at.present? %></td>
                          <td><%= working_hours2(ac.before_started_at, ac.before_finished_at) if ac.before_started_at.present? && ac.before_finished_at.present? %></td>
                          <td><%= working_minutes2(ac.before_started_at, ac.before_finished_at) if ac.before_started_at.present? && ac.before_finished_at.present? %></td>
                          <td><%= working_hours(ac.after_started_at) if ac.after_started_at.present? %></td>
                          <td><%= working_minutes(ac.after_started_at) if ac.after_started_at.present? %></td>
                          <td><%= working_hours2(ac.after_started_at, ac.after_finished_at) if ac.after_started_at.present? && ac.after_finished_at.present? %></td>
                          <td><%= working_minutes2(ac.after_started_at, ac.after_finished_at) if ac.after_started_at.present? && ac.after_finished_at.present? %></td>
                          <td><%= ac.note %></td>
                          <td><%= a_change.select :request ,options_for_select(@req_sec,1) %></td>
                          <td><%= a_change.check_box 'ck_change' %></td>
                          <td><%= link_to "確認", show_readonly_user_path(user_id: @user.id, gamen: "change", date: ac.worked_on, chenge_mw: "m"), class: "btn btn-primary btn-attendance btn-sm" %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer-custom">
        <div class="center">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
          <%= f.submit "閉じる", class: "btn btn-primary btn-#{yield(:class_text)}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>