<% provide(:class_text, 'atten-modal') %>
<% provide(:title, '勤怠ログ') %>
<% provide(:button_text1, 'ログ削除') %>
<% provide(:button_text2, '取得') %>
<% provide(:no_data_message, '該当データありません') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header-custom">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h1 class="modal-title"><%= yield(:title) %></h1>
    <div class="modal-body">
    <% if @attendance_change_cnt == 0 %>  
      <h4 class="center"><%= yield(:no_data_message) %></h4>
    <% else %>
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <%= 
            form_with(model: @user, 
                        url: attendances_update_change_log_user_path( 
                                                                     date: @first_day,
                                                                     chenge_mw: @select_area),
                     method: :patch, remote: true) do |f1|
          %>
            <%= f1.hidden_field :setday, :value => @w_cnt_ym + "01" %>
            <div class="info-message"></div>
            <div>
                <%= f1.submit yield(:button_text1), class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
          <%=
            form_with(model: @user,
                        url: attendances_edit_change_log_user_path( 
                                                                   date: @first_day,
                                                                   chenge_mw: @select_area,
                                                                   gamen: "g"),
                     method: :get, remote: true) do |f2|
          %>
          
            <%= f2.hidden_field :gamen, :value => "g" %>
            <div>
              <table class="table table-bordered table-condensed">
                <tr>
                  <td class="center">年月</td>
                  <td>
                    <%= f2.select 'sec_ym', 
                    options_for_select(@log_ym, @w_cnt_ym), :onchange => 'set_item(this.value)'%>
                    <%= f2.submit yield(:button_text2), class: "btn btn-primary btn-sm" %>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
            <thead>
              <%= @w_cnt_y %>年<%= @w_cnt_mm %>月分表示
              <tr>
                <td>日付</td>
                <td>変更前出社時間</td>
                <td>変更前退社時間</td>
                <td>変更後出社時間</td>
                <td>変更後退社時間</td>
                <td>指示者</td>
                <td>承認日</td>
              </tr>
            </thead>
            <tbody>
              <!-- 初期化 -->
              <!-- o:古, n:新, b:変更前, a:変更後 -->
              <% hatei_flg = false%>
              <% w_o_today = nil %>
              <% w_n_today = nil %>
              <% w_today = nil %>
              <% w_o_b_start_day = nil %>
              <% w_n_b_start_day = nil %>
              <% w_o_a_start_day = nil %>
              <% w_n_a_start_day = nil %>
              <% w_b_start_day = nil %>
              <% w_a_start_day = nil %>
              <% w_o_b_finish_day = nil %>
              <% w_n_b_finish_day = nil %>
              <% w_o_a_finish_day = nil %>
              <% w_n_a_finish_day = nil %>
              <% w_b_finish_day = nil %>
              <% w_a_finish_day = nil %>
              <% w_o_superior_num = 0 %>
              <% w_n_superior_num = 0 %>
              <% w_superior_num = 0 %>
              <% w_o_confirm_day = nil %>
              <% w_n_confirm_day = nil %>
              <% w_confirm_day = nil %>
              <% w_cnt = 0 %>
              
              <% @attendance_change.each do |ac| %>
              
                <% w_cnt += 1 %>
                <% w_n_today = ac.worked_on %>
                
                <!-- 1件目の処理 -->
                <% if w_cnt == 1 %>
                  <% w_o_today = w_n_today %>
                  <% w_today = w_n_today %>
                  <% w_b_start_day = ac.before_started_at %>
                  <% w_b_finish_day = ac.before_finished_at %>
                  <% w_a_start_day = ac.after_started_at %>
                  <% w_a_finish_day = ac.after_finished_at %>
                  <% w_superior_num = ac.superior_employee_number %>
                  <% w_confirm_day = ac.confirm_at %>
                  <% w_o_b_start_day = w_b_start_day %>
                  <% w_o_b_finish_day = w_b_finish_day %>
                  <% w_o_a_start_day = w_a_start_day %>
                  <% w_o_a_finish_day = w_a_finish_day %>
                  <% w_o_superior_num = w_superior_num %>
                  <% w_o_confirm_day = w_confirm_day %>
                
                <!-- 2件目以降の処理 -->
                <% else %>
                  <% if w_o_today != w_n_today %>
                    <% hatei_flg = true %>
                    <% w_today = w_o_today %>
                    <% w_b_start_day = w_o_b_start_day %>
                    <% w_b_finish_day = w_o_b_finish_day %>
                    <% w_a_start_day = w_o_a_start_day %>
                    <% w_a_finish_day = w_o_a_finish_day %>
                    <% w_superior_num = w_o_superior_num %>
                    <% w_confirm_day = w_o_confirm_day %>
                    <% w_o_b_start_day = ac.before_started_at %>
                    <% w_o_b_finish_day = ac.before_finished_at %>
                    <% w_o_a_start_day = ac.after_started_at %>
                    <% w_o_a_finish_day = ac.after_finished_at %>
                    <% w_o_superior_num = ac.superior_employee_number %>
                    <% w_o_confirm_day = ac.confirm_at %>
                  <% else %>
                    <% w_o_a_start_day = ac.after_started_at %>
                    <% w_o_a_finish_day = ac.after_finished_at %>
                    <% w_o_superior_num = ac.superior_employee_number %>
                    <% w_o_confirm_day = ac.confirm_at %>
                  <% end %>
  
                <% end %>
  
                <!-- 2件目以降の処理で同一日の場合の編集処理 -->
                <% if hatei_flg %>
                  <tr>
                    <td><%= w_today %></td>
                    <td>
                      <%= working_hours(w_b_start_day) if w_b_start_day.present? %>
                      <%= ":" if w_b_start_day.present? %>
                      <%= working_minutes(w_b_start_day) if w_b_start_day.present? %>
                    </td>
                    <td>
                      <%= working_hours2(w_b_start_day, w_b_finish_day) if w_b_start_day.present? && w_b_finish_day.present? %>
                      <%= ":" if w_b_start_day.present? && w_b_finish_day.present? %>
                      <%= working_minutes2(w_b_start_day, w_b_finish_day) if w_b_start_day.present? && w_b_finish_day.present? %>
                    </td>
                    <td>
                      <%= working_hours(w_a_start_day) if w_a_start_day.present? %>
                      <%= ":" if w_a_start_day.present? %>
                      <%= working_minutes(w_a_start_day) if w_a_start_day.present? %>
                    </td>
                    <td>
                      <%= working_hours2(w_a_start_day, w_a_finish_day) if w_a_start_day.present? && w_a_finish_day.present? %>
                      <%= ":" if w_a_start_day.present? && w_a_finish_day.present? %>
                      <%= working_minutes2(w_a_start_day, w_a_finish_day) if w_a_start_day.present? && w_a_finish_day.present? %>
                    </td>
                    <% @user_superior = User.where(employee_number: w_superior_num) %>
                    <% @user_superior.each do |us| %>
                      <td><%= us.name %></td>
                    <% end %>
                    <td><%= l(w_confirm_day, format: :long_b) %></td>
                  </tr>
                  <% hatei_flg = false %>
                <% end %>
  
                <!-- 最終件目の編集処理 -->
                <% if w_cnt == @attendance_change_cnt %>
                  <% w_today = w_n_today %>
                  <% w_b_start_day = w_o_b_start_day %>
                  <% w_b_finish_day = w_o_b_finish_day %>
                  <% w_a_start_day = w_o_a_start_day %>
                  <% w_a_finish_day = w_o_a_finish_day %>
                  <% w_superior_num = w_o_superior_num %>
                  <% w_confirm_day = w_o_confirm_day %>
                  <tr>
                    <td><%= w_today %></td>
                    <td>
                      <%= working_hours(w_b_start_day) if w_b_start_day.present? %>
                      <%= ":" if w_b_start_day.present? %>
                      <%= working_minutes(w_b_start_day) if w_b_start_day.present? %>
                    </td>
                    <td>
                      <%= working_hours2(w_b_start_day, w_b_finish_day) if w_b_start_day.present? && w_b_finish_day.present? %>
                      <%= ":" if w_b_start_day.present? && w_b_finish_day.present? %>
                      <%= working_minutes2(w_b_start_day, w_b_finish_day) if w_b_start_day.present? && w_b_finish_day.present? %>
                    </td>
                    <td>
                      <%= working_hours(w_a_start_day) if w_a_start_day.present? %>
                      <%= ":" if w_a_start_day.present? %>
                      <%= working_minutes(w_a_start_day) if w_a_start_day.present? %>
                    </td>
                    <td>
                      <%= working_hours2(w_a_start_day, w_a_finish_day) if w_a_start_day.present? && w_a_finish_day.present? %>
                      <%= ":" if w_a_start_day.present? && w_a_finish_day.present? %>
                      <%= working_minutes2(w_a_start_day, w_a_finish_day) if w_a_start_day.present? && w_a_finish_day.present? %>
                    </td>
                    <% @user_superior = User.where(employee_number: w_superior_num) %>
                    <% @user_superior.each do |us| %>
                      <td><%= us.name %></td>
                    <% end %>
                    <td><%= l(w_confirm_day, format: :long_b) %></td>
                  </tr>
                <% end %>
                <% w_o_today = w_n_today %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>        
    </div>
    <div class="modal-footer-custom">
      <div class="center">
        <%= link_to "閉じる", user_path(date: @first_day, chenge_mw: @select_area),
        class: "btn btn-primary btn-#{yield(:class_text)}", data: { dismiss: "modal"} %>
      </div>
    </div>
  </div>
</div>
<div id="edit_change_log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--ファイルアップロード用スクリプト-->
<script type="text/javascript">
  function set_item(select_val){
    $('setday').value = select_val + '01';
  }
</script>