<% provide(:class_text, 'atten-modal') %>
<% provide(:button_text1, '残業申請する') %>
<% provide(:button_text2, '閉じる') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header-custom">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= 
      form_with(model: @attendance, 
                  url: update_over_work_attendance_path(date: @first_day, chenge_mw: @select_area, user_id: @user_id),
                local: true,
               method: :patch) do |f|
    %>
    <h1 class="modal-title">【残業申請】</h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= l(@attendance.worked_on, format: :short) %></td>
                <%= hidden_field_tag :worked_on, @attendance.worked_on %>
                <%= hidden_field_tag :finished_at, @attendance.finished_at %>
                <% if @attendance.worked_on.wday == 0 %>
                  <td class="txt-youbi-sun">
                <% elsif @attendance.worked_on.wday == 6 %>
                  <td class="txt-youbi-sat">
                <% else %>
                  <td>
                <% end %>
                <%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <% wk_hm = ck_val(@attendance.end_at, '1800') %>
                <% wk_h = wk_hm.slice(0..1) %>
                <% wk_m = wk_hm.slice(2..3) %>
                <td>
                  <%= select_tag 'end_at_h', options_for_select(@t_h, wk_h) %> : <%= select_tag 'end_at_m', 
                  options_for_select(@t_m, wk_m) %>
                </td>
                <td><%= f.check_box :ck_tomorrow %></td>
                <td><%= f.text_field :reason, class: "form-control" %></td>
                <td><%= select_tag 'employee_number', options_for_select(@user_superior,1), include_blank: true %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer-custom">
      <div class="center">
        <%= f.submit yield(:button_text1), class: "btn btn-primary btn-#{yield(:class_text)}" %>
        <!--
        <button type="button" class="btn btn-default btn-" data-dismiss="modal">
          キャンセル
        </button>
        -->
        <%= link_to yield(:button_text2), user_path(date: @first_day, chenge_mw: @select_area), 
        class: "btn btn-primary btn-#{yield(:class_text)}", data: {dismiss: "modal"} %>
      </div>
    </div>
    <% end %>
  </div>
</div>